.footer {
    background-color:  #f9b5c4;
    color: #333;
    padding: 30px 20px;
    font-family: Arial, sans-serif;
  }
  
  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e89db3;
    padding-bottom: 15px;
    margin-bottom: 20px;
    color: #9c003f;
  }
  
  .icons i {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    min-width: 220px;
    margin: 10px;
  }
  
  .footer-section h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  