.hero {
    background-color: #f8c8dc;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Arial Rounded MT Bold', 'Arial', sans-serif;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    position: relative;
  }
  
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d28a97;
    border-radius: 8px;
    padding: 40px 60px;
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .hero-text {
    flex: 1;
    color: white;
    padding-right: 40px;
  }
  
  .hero-text h1 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .hero-text p {
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .hero-img img{
    width: 200px;
    margin-top: 20px;
    object-fit: cover;
    
  }
  
  .hero-img:hover {
    transform: scale(1.05);
  }
  
  .caption {
    margin-top: 10px;
    color: #4e1a1a;
    font-size: 18px;
    font-weight: 500;
  }