.header {
    background-color: #b36b6b;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Georgia', serif;
  }
  
  .nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
    font-weight: bold;
  }
  
  .logo-card {
    background-color: #f5b6c4;
    padding: 10px 30px;
    border-radius: 25px;
    text-align: center;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #ffedf0;
  }
  
  .logo-text {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 5px #b30047;
  }
  
  .logo-text span {
    font-style: italic;
    color: #fff0f5;
  }
  
  .tagline {
    font-size: 12px;
    color: #440022;
  }
  
  .nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .cart {
    font-weight: bold;
  }
  
  .auth-links {
    cursor: pointer;
  }